NEXT_PUBLIC_APP_URL=http://localhost:3000

MONGODB_CONNECTION_URI=YOUR_DB_CONNECTION_URI
MONGODB_USERNAME=YOUR_DB_USERNAME
MONGODB_PASSWORD=YOUR_DB_PASSWORD
MONGODB_DATABASE_NAME=YOUR_DB_NAME

OPENAI_API_KEY=YOUR_OPENAI_API_KEY

NODE_ENV=development